<form class="form booking__form" id="formbooking" autocomplete="on">
  <h3 class="booking__title">ĐẶT XE ONLINE</h3>
  <div class="booking__form-inner d-flex">
    <div class="booking__item">
      <i class="fas booking__item--icon1"></i>
      <input
        type="text"
        name="address1"
        id="address1"
        placeholder="Điểm đón"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fas fa-map-marker-alt booking__item--icon2"></i>
      <input
        type="text"
        name="address2"
        id="address2"
        placeholder="Điểm đến"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fa-solid fa-car"></i>
      <input
        type="text"
        name="drive"
        id="drive"
        placeholder="Loại dịch vụ"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fas fa-user"></i>
      <input
        type="text"
        name="fullname"
        id="fullname"
        placeholder="Họ và Tên"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fas fa-phone-square-alt"></i>
      <input
        type="tel"
        name="numberphone"
        id="numberphone"
        placeholder="Số điện thoại"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fa-regular fa-clock"></i>
      <input
        type="text"
        name="timebook"
        id="timebook"
        placeholder="Thời gian"
        class="booking__input"
      />
    </div>
  </div>
  <button
    type="submit"
    class="booking-item__row booking__submit btn btn--primary"
  >
    ĐẶT NGAY
  </button>
</form>
