<form class="form booking__form" autocomplete="on">
  <h3 class="booking__title">BOOKING ONLINE</h3>
  <div class="booking__form-inner d-flex">
    <div class="booking__item">
      <i class="fas booking__item--icon1"></i>
      <input
        type="text"
        name="dia-chi-don"
        id="dia-chi-don"
        placeholder="Điểm đón"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fas fa-map-marker-alt booking__item--icon2"></i>
      <input
        type="text"
        name="dia-chi-den"
        id="dia-chi-den"
        placeholder="Điểm đến"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fa-solid fa-car"></i>
      <input
        type="text"
        name="service"
        id="service"
        placeholder="Loại dịch vụ"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fas fa-user"></i>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Họ và Tên"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fas fa-phone-square-alt"></i>
      <input
        type="tel"
        name="phone"
        id="phone"
        placeholder="Số điện thoại"
        class="booking__input"
      />
    </div>
    <div class="booking__item">
      <i class="fa-regular fa-clock"></i>
      <input
        type="text"
        name="time-booking"
        id="time-booking"
        placeholder="Thời gian"
        class="booking__input"
      />
    </div>
  </div>
  <div class="booking-item__row">
    <a href="tel:0859322813" class="booking__submit btn btn--primary"
      >ĐẶT NGAY</a
    >
  </div>
</form>
