<div class="container">
  <div class="footer__inner">
    <div class="row gy-lg-3">
      <div class="col-4 col-lg-12">
        <a href="/" class="footer__logo">
          <div class="footer__logo-inner">
            <div class="footer__logo-icon-wrap">
              <img
                src="https://taxinhanh247.pro.vn/assets/image/icon/logo.png"
                alt="logo icon"
                class="footer__logo-icon"
              />
            </div>
            <h2 class="footer__logo-name">TAXI NHANH 24/7</h2>
          </div>
        </a>
        <p class="footer__desc">
          Di chuyển siêu nhanh siêu tiện lợi và an toàn
        </p>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">
            Công Ty Vận Tải Nhanh Vĩnh Cửu
          </li>
          <li class="footer__item">
            <a href="https://maps.app.goo.gl/K3cks45Sh5iv3WsMA"
              >Địa chỉ:DT767 Vĩnh Tân,Vĩnh Cửu,ĐN</a
            >
          </li>
          <li class="footer__item">
            <a href="mailto:taonhung298@gmail.com"
              >Email:taonhung298@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a href="tel:0922402030">Phone:055 943 9479</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">LIÊN KẾT NHANH</li>
          <li class="footer__item"><a href="#!">Bài viết nổi bật</a></li>
          <li class="footer__item">
            <a href="https://taxinhanh247.pro.vn/chinh-sach-bao-mat.html"
              >Chính sách bảo mật</a
            >
          </li>
          <li class="footer__item">
            <a href="https://taxinhanh247.pro.vn/ve-chung-toi.html"
              >Về chúng tôi</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="coppyright">
      <p>© 2010 - 2025 . Ban quyen nay thuoc ve taxinhanh247.pro.vn</p>
    </div>
  </div>
</div>
