/* pc reponsive */
@media screen and (min-width: 992px) {
  .header__menu {
    display: none;
  }
  .menu-drawer .navbar {
    display: none;
  }
}
/* table reponsive */
@media screen and (min-width: 768px) and (max-width: 991.8px) {
  .header__right--icon {
    display: none;
  }
}
/* tablet + mobile reponsive */
@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
  .header__menu svg {
    width: 25px;
    color: #666;
  }
  .menu-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: all 0.5s ease;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 3;
    transform: translateX(-100%);
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer .navbar {
    display: block;
  }
  .menu-drawer .navbar__list {
    flex-direction: column;
  }
  .menu-drawer .navbar__item--list {
    opacity: 0;
    visibility: hidden;
    top: -30px;
    right: -250px;
    transition: 0s;
  }
  .menu-drawer .navbar__item--list::before {
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    transform: translate(-90%, 100%);
    border-bottom-color: transparent;
    border-right-color: #fff;
  }
  .menu-drawer .navbar__item:last-child {
    border-bottom: 1px solid #0000002f;
  }
}
/* mobile reponsive*/
@media screen and (max-width: 767.8px) {
  .header__inner {
    position: relative;
    justify-content: center;
  }
  .header__menu {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%);
  }
  .header__right {
    display: none;
  }
  .header__logo {
    margin-left: auto;
  }
}
