.content {
  margin: 10px 20px;
  h1 {
    margin: 15px 0;
    font-family: Merriweather;
    color: #2657af;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6125rem;
  }
  h2,
  h3,
  h4,
  h5 {
    margin: 15px 0;
    color: #333;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.725rem;
  }
  p,
  li {
    margin: 12px 0;
    line-height: 2.5rem;
  }
  section {
    margin: 25px 0;
  }
  img {
    margin: 10px 0;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .breadcrumb {
    display: flex;
    overflow: auto;
    list-style: none;
    flex-wrap: nowrap !important;
    padding: 0;
    margin: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .breadcrumb::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  .breadcrumb-item {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Ngăn text bị xuống dòng trong breadcrumb */
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 8px;
    color: #ccc;
  }
  .breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
  }
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  .breadcrumb-item.active {
    color: #6c757d;
    pointer-events: none;
  }
}
.blogs {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blogs article {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.blogs img {
  max-width: none;
  width: 100px;
  height: 60px;
  margin: 0;
  display: block;
}
.blogs h2 {
  font-size: 1.8rem;
  line-height: 1.9rem;
  overflow: hidden;
  height: 60px;
  margin: 0;
  font-weight: 700;
}
.blogs h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  overflow: hidden;
  height: 60px;
  margin: 0;
  font-weight: 600;
}
