html {
  --primary-color: #3a6effc4;
  --primary-color-2: #3a92ffbf;
  --primary-color-3: #fff;
  // breadcrumb
  --breadcrumb-bg: #f6f6f6;
  --breadcrumb-link-color: #9e9da8;
  --breadcrumb-link-active-color: #1a162e;
  --breadcrumb-box-shadow: rgba(237, 237, 246, 0.2);
}
